# Add any directories, files, or patterns you don't want to be tracked by version control
# IDE's
.idea/
.vscode/


dist/
build/


# Dependency directories
node_modules

coverage/

log/
*.log

*.lock

